@media (max-width: 360px){
    .logo{
        width: 100%;
    
    } 

}

@media (max-width: 360px){
    .logo2{
        width: 70%;
    
    } 

}



html {
    scroll-behavior: smooth;
}

.navbar-toggler{
    background-color: #9a0606 !important;
}